<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="exitApp()">
        <ion-icon name="exit" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Testlər</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div style="background-image: linear-gradient(#FFFEFF,#0cd1e8) !important;min-height: 100%">
  <div class="row" *ngIf="quizes">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-4 col-lg-offset-0"  *ngFor="let quiz of quizes">
      <ion-card routerDirection='forward' style="padding-top:5px;"  [routerLink]="['/','question', quiz.mainSubjectId]" [ngStyle]="{'background-image': quiz.backgroundImage}">
        <ion-img [src]="quiz.photo"></ion-img>
        <div style="color: white;"  class="py-5" >
          <ion-item>
            <ion-label>
              <b>{{quiz.mainSubjectName}}</b>
            </ion-label>
            <ion-badge  color='secondary' slot="end">&nbsp;{{quiz.questionCount}} sual&nbsp;</ion-badge> 
          </ion-item>
          </div>
      </ion-card>
    </div>
  </div>
  </div>
</ion-content>
