<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="subjectContent">{{subjectContent.subjectName}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showInfo()">
        <ion-icon name="information-circle" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="toggleMode()">
        <ion-icon *ngIf="mode=='dark'" name="sunny" slot="icon-only"></ion-icon>
        <ion-icon *ngIf="mode=='light'" name="moon" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="min-height: 100%">
    <ion-col [ngClass]="{'moon': mode=='dark', 'sun': mode=='light'}" size="12">
      
        <p style="min-height: 100%;" id="subjectContent"></p>
      
    </ion-col>
  </ion-row>
</ion-content>

<!-- The Modal -->
<div id="myModal" zooming="true" direction="xy" scrollX scrollY class="modal">

  <!-- The Close Button -->
  <span class="close" (click)="modal.style.display='none'">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>
