.moon {
    background-color: black !important;
    color: #dddddd !important;
}

.moon  {
    p{
        background-color: black !important;
        color: #dddddd !important;
    }
    ::ng-deep pre {
        background-color: black !important;
        color: #dddddd !important;
    }
    code {
        background-color: black !important;
        color: #dddddd !important;
    }
    h1 {
        background-color: black !important;
        color: #dddddd !important;
    }
    h2 {
        background-color: black !important;
        color: #dddddd !important;
    }
    h3 {
        background-color: black !important;
        color: #dddddd !important;
    }
    h4 {
        background-color: black !important;
        color: #dddddd !important;
    }
    h5 {
        background-color: black !important;
        color: #dddddd !important;
    }
}