<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="subjectContent">{{subjectContent.subjectName}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleMode()">
        <ion-icon *ngIf="mode=='dark'" name="sunny" slot="icon-only"></ion-icon>
        <ion-icon *ngIf="mode=='light'" name="moon" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col [ngClass]="{'moon': mode=='dark', 'sun': mode=='light'}" size="12">
      
        <p  id="subjectContent"></p>
      
    </ion-col>
  </ion-row>
</ion-content>
