<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title >Sual {{index+1}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear">{{time.minutes()+':'+time.seconds()}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div style="background-image: linear-gradient(#FFFEFF,#0cd1e8) !important;min-height: 100%">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-4">
      <ion-card style="background-color:white;" *ngIf="currentQuestion">
        <img [src]="currentQuestion.imageBase64" id="questionImage" *ngIf="currentQuestion.imageBase64">
        <ion-card-header style="padding-bottom: 0px;">
          <ion-card-title>
            <span [innerHTML]="encode(currentQuestion.questionDescription)"></span>
          </ion-card-title>
        </ion-card-header>
        <div>
          <ion-list>
            <ion-radio-group #ionRadioGroup (ionChange)="radioChange($event)" [name]="index" *ngIf="!currentQuestion.isMultiAnswer; else checkBox">
              <ion-item style="margin-bottom: 5px;" lines="none" *ngFor="let ans of currentQuestion.answers; let i = index;">
                <ion-radio color="secondary" [checked]="ans.selected" slot="start" [value]="i" [name]="i"></ion-radio>
                <ion-text style="word-break: break-word;">{{ans.answerText}}</ion-text>
              </ion-item>
            </ion-radio-group>
            <ng-template #checkBox>
                <ion-item style="margin-bottom: 5px;" lines="none" *ngFor="let ans of currentQuestion.answers">
                    <ion-checkbox color="secondary" slot="start" [(ngModel)]="ans.selected"  [name]="currentQuestion.orderNumber"></ion-checkbox>
                    <ion-text style="word-break: break-word;">{{ans.answerText}}</ion-text>
                  </ion-item>
            </ng-template>
            </ion-list>
        </div>
      </ion-card>
    </div>
  </div>
  
    <div padding *ngIf="questions">
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group" style="text-align: right;">
          <ion-button [disabled]="index-1<0" color="light" (click)="prevQuestion()">
              <ion-icon slot="icon-only" name="arrow-dropleft-circle"></ion-icon>
          </ion-button>
        </div>
        <div class="btn-group" role="group" style="text-align: left;">
            <ion-button [disabled]="index+1==questions.length" color="light" (click)="nextQuestion()">
                <ion-icon slot="icon-only" name="arrow-dropright-circle"></ion-icon>
            </ion-button>
          </div>
      </div>
      <div class="btn-group btn-group-justified">
        <div class="btn-group" role="group" style="text-align: center;">
          <ion-button color="light" style="width: 50%;" (click)="checkAnswer()">TESTİ TAMAMLA</ion-button>
        </div>
      </div>
    </div>
    
</div>
</ion-content>
