<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="end">
      <ion-button (click)="exitApp()">
        <ion-icon name="exit" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      ProLearn
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="cyan-gradient">
  <ion-row *ngIf="mainSubjects && active">
    <ion-col *ngFor="let ms of mainSubjects" size-lg="3" size-md="4" size-sm="6" size-xs="6">
      <ion-card  [routerLink]="['/','subjects', ms.id]">
        <ion-img [src]="ms.photoUrl"></ion-img>
        <div style="background-color: #0cd1e8; color: white;" text-center class="py-5" >
            <ion-label
              routerDirection='forward'>
              <b>{{ms.name}}</b> 
            </ion-label>
          </div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
